<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/partials/bar.css">
    <link rel="stylesheet" href="/stylesheets/<%= css %>">
<head>
<body>
    <nav class="bar shadow">
        <div class="home">
            <a href="/"><img src="/images/profiles/default.jpg" alt="Home"></a>
        </div>
        <div class="search">
            <form action="/search" method="post">
                <label for="generalSearchInput"><i class="fi fi-rr-search"></i></label>
                <input type="text" name="search" id="generalSearchInput" placeholder="Buscar...">
                <button type="submit" id="generalSearchBtn" class="btn btnDark2"><i class="fi fi-rr-angle-right"></i></button>
            </form>
        </div>
        <div class="sections">
            <a href="/"><i class="fi fi-rr-home"></i></a>
            <a href="/chat/home"><i class="fi fi-rr-messages"></i></a>
            <button id="btnNotifications"><i class="fi fi-rr-bell"></i></button>
            <a href="/user"><i class="fi fi-rr-exit"></i></a>
        </div>
    </nav>

    <div id="notifications" class="notifications shadow hide">
        <div>
            <button class="btn sm btnDark2">Borrar todos <i class="fi fi-rr-broom"></i></button>
        </div>
        <a class="notification shadow" href=""><img class="shadow" src="/images/profiles/default.jpg">Brandon reacciono a tu publicacion<button><i class="fi fi-sr-circle-xmark"></i></button></a>
        <a class="notification shadow" href=""><img class="shadow" src="/images/profiles/default.jpg">Brandon reacciono a tu publicacion<button><i class="fi fi-sr-circle-xmark"></i></button></a>
    </div>