<div id="comments" class="commentsShow shadow">
    <div id="comControl" class="control shadow">
        <button class="btn sm btnPrimary"><i class="fi fi-rr-comment-alt"></i>Comentarios</button>
        <button class="btn sm btnLight2"><i class="fi fi-sr-heart"></i>Reacciones</button>
    </div>
    <div id="comSection" class="comments shadow">
        <div class="comment">
            <a class="profile" href="">
                <img class="shadow" src="/images/profiles/default.jpg" alt="">
                <span>Nombre de la persona</span>
            </a>
            <p class="msj">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, nihil quia. Amet accusantium reiciendis quae labore, delectus necessitatibus, itaque natus aut id non voluptatum optio omnis ad voluptates, explicabo neque.
            </p>
        </div>
    </div>
    <div id="comSection" class="reactions">
        <a class="profile" href="">
            <img class="shadow" src="/images/profiles/default.jpg" alt="">
            <span>Nombre de la persona</span>
        </a>
    </div>
    <div class="newComment">
        <input class="text md textPrimary" placeholder="Comentar..." type="text" name="text" id="text">
        <button class="btn btnAccent"><i class="fi fi-rr-paper-plane-top"></i></button>
    </div>
</div>