<div id="slider">
    <img src="/images/profiles/default.jpg" alt="">
    <div class="controls">
        <button id="close"><i class="fi fi-rr-cross"></i></button>
        <button id="previous"><i class="fi fi-sr-angle-left"></i></button>
        <button id="next"><i class="fi fi-sr-angle-right"></i></button>
    </div>
</div>

<script src="/javascripts/pubSlider.js"></script>