<div class="pub">
    <div class="profile">
        <button>
            <img src="/images/profiles/default.jpg" alt="">
            <span>Nombre de la persona</span>
        </button>
        <% if (!self) { %>
            <div>
                <button class="btn sm btnDark2">Seguir</button>
            </div>
        <% } %>
        
    </div>
    <div class="content">
        <p><%= publication.description %></p>
        <% if (publication.multimedia.length > 1) { %>
            <div class="gallery">
                <% for( let i = 0; i < publication.multimedia.length; i++ ) { %>
                    <img src="/images/publications/<%= publication.multimedia[i] %>" alt="">
                <% } %>
            </div>
        <% } else { %>
            <img src="/images/publications/<%= publication.multimedia[0] %>" alt="">
        <% } %>
    </div>
    <div class="reactions">
        <div>
            <button><i class="fi fi-rr-heart"></i><span>100</span></button>
            <button><i class="fi fi-rr-comment-alt"></i><span>100</span></button>
        </div>
        <div>
            <button><i class="fi fi-rr-menu-dots"></i></button>
        </div>
    </div>
</div>