<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/user/addPicture.css">

    <title>Foto de perfil</title>
</head>
<body>
    <form class="shadow" action="/user/changePicture/main" method="post" enctype="multipart/form-data">
        <div>
            <h1>Añade mas personalidad</h1>
            <p>Agrega una foto de perfil</p>
            <label for="picture"><img class="shadow" id="picturePreview" src="/images/profiles/default.jpg" alt="Picture profile"></label>
        </div>
        <div class="submit">
            <label class="btn md btnAccent" for="picture">Cargar foto</label>
            <input type="file" name="picture" id="picture" accept="image/*">
            <input class="btn md btnSuccess" id="submit" type="submit" value="Aceptar">

            <button id="skip" form="skipForm">Omitir</button>
        </div>
    </form>
    <form id="skipForm" action="/user/skipAddPicture" method="post"></form>

    <script src="/javascripts/user/addPicture.js"></script>
</body>
</html>