<%- include('../partials/bar.ejs',{barProfile , title: "Perfil", css: "user/profile.css"}) %>

<main>
    <section class="infoProfile shadow">
        <div class="info">
            <img class="shadow" src="/images/profiles/<%= profile.picture %>" alt="Profile">
            <div class="name">
                <span><%= profile.name %> <%= profile.lastname %></span>
                <span>50 Seguidores 30 Seguidos</span>
            </div>
        </div>
        <div class="control">
            <button class="btn md btnAccent">Seguir</button>
            <button class="btn btnDark2"><i class="fi fi-rr-comment"></i></button>
            <button class="btn btnDark2"><i class="fi fi-rr-menu-dots-vertical"></i></button>
        </div>
    </section>
</main>