<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/user/signIn.css">

    <title>Iniciar sesion</title>
</head>
<body>
    <div class="page">
        <div class="box">
            <form class="shadow" action="/user/signIn" method="post">
                <% if (error) { %>
                    <div id="errors" style="display: flex;">
                        <span class="notError"><%= error %><button id="close"><i class="fi fi-sr-circle-xmark"></i></button></span>
                    </div>
                <% } else { %>
                    <div id="errors"></div>
                <% } %>   
                <input class="text textPrimary" maxL="5" type="text" name="email" id="email" placeholder="Correo electronico" value="<%= incorrectData %>">
                <input class="text textPrimary" maxL="6" type="password" name="password" id="password" placeholder="Contraseña">
                <div>
                    <input class="btn btnPrimary" type="submit" value="Entrar">
                    <a class="btn btnAccent" href="/user/signUp">Crear una cuenta</a>
                </div>
            </form>
        </div>
        <div class="info">
            <div>
                <h1>Iniciar sesión</h1>
                <p>Conéctate y celebra la amistad de cuatro patas</p>
            </div>
            <img src="/images/Dog.png" alt="">
        </div>
        <div class="svg">
            <div>
                <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 C 0,400 0,80 0,80 C 87.20574162679426,82.43062200956939 174.41148325358853,84.86124401913877 281,88 C 387.58851674641147,91.13875598086123 513.5598086124402,94.98564593301435 603,93 C 692.4401913875598,91.01435406698565 745.3492822966507,83.19617224880383 820,84 C 894.6507177033493,84.80382775119617 991.0430622009569,94.22966507177033 1098,95 C 1204.956937799043,95.77033492822967 1322.4784688995214,87.88516746411483 1440,80 C 1440,80 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#ffa726" fill-opacity="0.265" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><path d="M 0,400 C 0,400 0,160 0,160 C 82.12440191387557,146 164.24880382775115,132 261,142 C 357.75119617224885,152 469.12918660287085,186 565,188 C 660.8708133971292,190 741.2344497607656,160 838,158 C 934.7655502392344,156 1047.933014354067,182.00000000000003 1151,187 C 1254.066985645933,191.99999999999997 1347.0334928229665,176 1440,160 C 1440,160 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#ffa726" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-1"></path><path d="M 0,400 C 0,400 0,240 0,240 C 101.28229665071771,253.37799043062202 202.56459330143542,266.75598086124404 302,257 C 401.4354066985646,247.24401913875596 499.02392344497594,214.35406698564591 595,216 C 690.9760765550241,217.64593301435409 785.3397129186604,253.82775119617224 879,257 C 972.6602870813396,260.17224880382776 1065.6172248803828,230.33492822966508 1159,222 C 1252.3827751196172,213.66507177033492 1346.1913875598086,226.83253588516746 1440,240 C 1440,240 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#ffa726" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-2"></path><path d="M 0,400 C 0,400 0,320 0,320 C 98.16267942583733,315.8373205741627 196.32535885167465,311.67464114832535 286,315 C 375.67464114832535,318.32535885167465 456.86124401913867,329.1387559808613 553,334 C 649.1387559808613,338.8612440191387 760.2296650717702,337.7703349282297 866,339 C 971.7703349282298,340.2296650717703 1072.22009569378,343.77990430622015 1167,341 C 1261.77990430622,338.22009569377985 1350.88995215311,329.1100478468899 1440,320 C 1440,320 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#ffa726" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-3"></path></svg>
            </div>
        </div>
    </div>

    <script src="/javascripts/validateForms.js"></script>
</body>
</html>