<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>
<body>
    <h1>Registrarse</h1>
    <form action="/insertUser" method="post">
        <div>
            <input type="text" maxL="3" name="name" id="name" placeholder="Nombre(s)">
            <input type="text" maxL="3" name="lastname" id="lastname" placeholder="Apellido(s)">
        </div>
        <input type="email" maxL="5" name="email" id="email" placeholder="Correo">
        <div>
            <span>Fecha de nacimiento:</span>
            <select name="day" id="day">
                <% for( let i = 1; i <= 31; i++ ) { %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>
            <select name="month" id="month">
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
            <select name="year" id="year">
            <% for( let i = new Date().getFullYear(); i >= 1900; i--) { %>
                <option value="<%= i %>"><%= i %></option>
            <% } %>
            </select>
        </div>
        <div>
            <input type="password" maxL="6" name="password" id="password" placeholder="Contraseña">
            <input type="password" id="confirmPassword" placeholder="Confirmar contraseña">
        </div>
        <input type="submit" value="Registrarse">
    </form>
    <a href="/">Iniciar sesion</a>

    <script src="/javascripts/validateForms.js"></script>
</body>
</html>