@import url("./global.css");

main {
    height: calc(100vh - 56px);
    justify-content: center;
    align-items: center;
}
.chat {
    width: 80%;
    height: 90%;
    border-radius: 16px;
}
.friends,
.chatProfiles,
.chatProfile div > div,
.conversation {
    flex-direction: column;
}
.friends{
    width: 30%;
}
.conversation{
    width: 70%;
}
/* SECCION DE AMIGOS */
.friends {
    padding: 16px;
    background-color: var(--light);
    border-radius: 16px 0 0 16px;
    overflow: auto;
    gap: 16px;
}
/* Busqueda de chats*/
.searchChat {
    align-items: center;
    gap: 8px;
}
.searchChat label {
    transform: scaleX(-1);
    cursor: text;
}
.searchChat i {
    position: relative;
    top: 2px;
    font-size: 20px;
}
.searchChat input {
    width: 100%;
}
/* Perfiles */
.chatProfiles {
    gap: 8px;
}
.chatProfile {
    display: flex;
    justify-content: space-between;
    border: none;
    background: none;
    cursor: pointer;
    background-color: var(--light2);
    padding: 8px;
    border-radius: 8px;
}
.chatProfile img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
}
.chatProfile > div {
    gap: 12px;
}
.chatProfile > div > div:last-child {
    align-items: flex-start;
}
.chatProfile .chatName {
    font-size: 15px;
    font-weight: 600;
}
.chatProfile:hover > .deleteChat {
    display: flex;
}
.deleteChat {
    display: none;
    align-items: center;
    font-size: 18px;
}
.deleteChat i {
    position: relative;
    top: 2px;
    color: var(--alert);
}
/* SECCION DE CHAT */
.conversation {
    border: 2px solid var(--light);
    border-radius: 0 16px 16px 0;
}
/* Mensajes */
.messages {
    padding: 8px;
    flex-grow: 1;
    flex-direction: column-reverse;
    overflow-y: auto;
    gap: 8px;
}
.messages span {
    padding: 8px 16px;
    border-radius: 8px;
}
.messages .sender {
    background-color: var(--light);
    align-self: flex-start;
}
.messages .receiver {
    background-color: var(--success);
    align-self: flex-end;
}
.messages .notChat {
    background-color: var(--accent);
    align-self: center;
}
.messages .notChat i{
    position: relative;
    top: 2px;
    margin-right: 4px;
}
/* Nuevo mensaje */
.newMsg {
    padding: 8px;
    gap: 8px;
    background-color: var(--dark);
    border-radius: 0 0 12px 0;
}
.newMsg input {
    width: 100%;
}
.newMsg button {
    width: 40px;
}
