@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

:root {
    --primary: #00d4aa;
    --accent: #ffa726;
    --success: #66bb6a;
    --alert: #ff5722;
    --light: #fafafa;
    --light2: #e0e0e0;
    --dark: #333333;
    --dark2: #454545;
}

* {
    font-family: "Poppins", sans-serif;
    color: var(--dark);
}
h1,
h2,
h3 {
    font-family: "Montserrat Alternates", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--light2);
}
div,
form {
    display: flex;
}
.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* INPUT TEXTS */

.text{
    padding: 12px;
    border: 1px solid var(--dark);
    border-radius: 8px;
    background-color: inherit;
    color: var(--dark);
}
.textPrimary:focus{
    outline: 1px solid var(--primary);
    border-color: var(--primary);
}
.textAlert{
    border-color: var(--alert);
}
.textAlert:focus{
    outline: 1px solid var(--alert);
    border-color: var(--alert);
}

/* BOTONES */

.btn{
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.btnPrimary{
    background-color: var(--primary);
}
.btnAccent{
    background-color: var(--accent);
}
.btnPrimary:hover,
.btnAccent:hover{
    background-color: var(--dark);
    color: var(--light2);
}

/* ERRORES */

.notError{
    display: flex;
    margin: 0;
    color: var(--dark);
    background-color: var(--alert);
    border-radius: 8px;
    font-size: 12px;
    padding: 4px 8px;
    justify-content: space-between;
    align-items: center;
}
.notError button{
    border: none;
    background-color: inherit;
    cursor: pointer;
    justify-self: flex-end;
}
.notError button i{
    font-size: 16px;
    position: relative;
    top: 2px;
}