@import url("../partials/publication.css");
@import url("../partials/slider.css");
@import url("../partials/comments.css");

main {
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}
section {
    width: 80%;
    justify-content: center;
}
.box {
    padding: 16px;
    background-color: var(--light);
    border-radius: 16px;
}
.infoProfile {
    justify-content: space-between;
    align-items: center;
}
.infoProfile .info {
    align-items: center;
    gap: 16px;
}
.infoProfile .info div {
    flex-direction: column;
}
.infoProfile .info div > span:first-child {
    font-size: 22px;
    font-weight: 600;
}
.infoProfile .info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.infoProfile .control {
    gap: 8px;
}
.infoProfile .control .btnDark2 i {
    margin: 0;
    font-size: 18px;
}
.navContent {
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}
.follows {
    text-align: center;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.follows a {
    display: flex;
    width: calc(50% - 8px);
    align-items: center;
    gap: 16px;
    justify-content: center;
    text-decoration: none;
}
.follows img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}
/* SECCION DE PUBLICACIONES */
.pubs {
    width: calc(80% + 32px);
}
/* SECCION DE FOTOS */
.gallery {
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}
.gallery img {
    width: calc(33.33% - 6px);
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .infoProfile .info {
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 640px) {
    .infoProfile {
        flex-direction: column;
        gap: 16px;
    }
    .gallery img {
        width: calc(50% - 6px);
    }
    section {
        width: 100%;
    }
    .pubs {
        width: calc(100% + 32px);
    }
}
@media screen and (max-width: 500px) {
    .follows a {
        width: 100%;
    }
}