@import url("../partials/publication.css");
@import url("../partials/slider.css");

main {
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}
section {
    width: 80%;
    justify-content: center;
}
.box {
    padding: 16px;
    background-color: var(--light);
    border-radius: 16px;
}
.infoProfile {
    justify-content: space-between;
    align-items: center;
}
.infoProfile .info {
    align-items: center;
    gap: 16px;
}
.infoProfile .info div {
    flex-direction: column;
}
.infoProfile .info div span:first-child {
    font-size: 22px;
    font-weight: 600;
}
.infoProfile .info img {
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.infoProfile .control {
    gap: 8px;
}
.infoProfile .control .btnDark2 i {
    margin: 0;
    font-size: 18px;
    padding: 0 10px;
}
.navContent {
    justify-content: center;
    gap: 8px;
}
/* SECCION DE PUBLICACIONES */
.pubs{
    width: calc(80% + 32px);
}
/* SECCION DE FOTOS */
.gallery{
    flex-wrap: wrap;
    gap: 8px;
}
.gallery img{
    width: calc(33.33% - 6px);
    object-fit: cover;
    border-radius: 8px;
}