@import url("../global.css");

.page {
    width: 100%;
    height: 100vh;
}
/* SVG DE FONDO */
.svg {
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: end;
    align-items: flex-end;
    z-index: -1;
}
.svg div {
    width: 100%;
}
/* INFORMACION Y FOTO DE GATO */
.info {
    max-width: max-content;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: end;
}
.info div {
    flex-direction: column;
    text-align: right;
}
.info div h1 {
    color: var(--primary);
    margin: 0;
}
.info div p {
    margin: 0;
}
.info img {
    width: 512px;
    align-self: flex-end;
    transform: scaleX(-1);
}
/* CAJA DE REGISTRO */
.box {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
form,
form > div {
    flex-direction: column;
    gap: 16px;
}
form {
    background-color: var(--light);
    padding: 32px;
    border-radius: 16px;
    min-width: 350px;
}
form a{
    width: 50%;
    align-self: center;
}
/* FECHA DE CUMPLEAÑOS */
form .birthday select{
    flex-grow: 1;
}
form .birthday div:last-child {
    gap: 8px;
}

hr {
    width: 20%;
    margin: 0;
    border: 1px solid var(--dark);
}
