    <%- include('../partials/bar.ejs',{pictureProfile: pictureProfile, title: "Home", css: "main/home.css"}) %>
    
    <main>
        <section class="friends">Section 1</section>
        <section class="posts">
            <form class="newPost shadow" action="/publication/new" method="post" enctype="multipart/form-data">
                <div class="data">
                    <div>
                        <label for="description"><i class="fi fi-sr-paw"></i></label>
                        <textarea class="text sm textPrimary" type="text" name="description" id="description" placeholder="Nueva publicacion..." rows="1"></textarea>
                    </div>
                    <div>
                        <label for="multimedia"><i class="fi fi-rr-picture"></i>Foto/video</label>
                        <input type="file" name="multimedia" id="multimedia" src="" alt="" multiple accept=".png, .jpg, .jpeg, .mp4, .wav">
                    </div>
                </div>
                <div id="gallery"></div>
                <div id="postSubmit">
                    <button type="reset" class="btn sm btnAlert">Cancelar</button>
                    <input class="btn sm btnSuccess" type="submit" value="Publicar">
                </div>
            </form>
        </section>
        <section class="myPets">Section 3</section>
    </main>

    <script src="/javascripts/main/index.js"></script>
</body>
</html>