@import url("../partials/publication.css");
@import url("../partials/slider.css");
@import url("../partials/comments.css");

body {
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
section {
    height: calc(100vh - 56px - 32px);
    overflow: auto;
}
/* CONTENEDORES DE SECCIONES */
.friends,
.today {
    width: 25%;
}
.posts {
    width: 50%;
    border-left: 1px solid var(--dark2);
    border-right: 1px solid var(--dark2);
    flex-direction: column;
    padding: 16px;
    align-items: center;
}
/* NUEVA PUBLICACION */
.newPost {
    flex-direction: column;
    background-color: var(--light);
    border-radius: 16px;
    padding: 8px;
    padding-left: 12px;
    gap: 8px;
    margin-bottom: 32px;
}
.newPost i {
    position: relative;
    font-size: 20px;
    top: 2px;
}
.newPost .data div:last-child label {
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
}
.newPost .data div:first-child {
    flex-grow: 1;
}
.newPost .data #description {
    width: 100%;
}
.newPost .data div:last-child label:hover {
    background-color: var(--dark);
    color: var(--light);
}
.newPost .data div:last-child label:hover > i {
    color: var(--accent);
}
.newPost .data div:last-child label i {
    margin-right: 8px;
}
.newPost input[type="file"] {
    display: none;
}
.newPost div {
    align-items: center;
    gap: 8px;
}
.newPost > div:last-child {
    display: none;
    justify-content: end;
}
/* FRIENDS */
.friends {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.friends > div {
    padding: 12px 0;
    gap: 16px;
    flex-direction: column;
}
.friends .mine a,
.friends .follows a,
.friends .chats a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
}
.friends .mine a img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 50%;
}
.friends .mine a {
    font-weight: 600;
}
.friends .follows span,
.friends .chats span {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}
.friends .follows,
.friends .chats {
    gap: 8px;
    flex-direction: column;
}
.friends .follows a img,
.friends .chats a img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.today {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    justify-content: space-between;
}
.today img {
    border-radius: 8px;
    cursor: pointer;
}
.today .by {
    justify-content: space-between;
    align-items: center;
}
.today .by span {
    font-size: 14px;
}
.today .by button {
    border: none;
    background: none;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
}
.today > div {
    flex-direction: column;
    gap: 8px;
    background-color: var(--light);
    padding: 8px;
    border-radius: 8px;
}
.today > div > span {
    display: flex;
    font-weight: 600;
}
#description {
    overflow: hidden;
}
#gallery {
    display: none;
    flex-wrap: wrap;
}
#gallery img {
    width: calc(33.33% - 6px);
    border-radius: 8px;
}
