/* PUBLICACIONES */
.pubs,
.pub {
    flex-direction: column;
    justify-content: center;
}
.pubs {
    gap: 16px;
    width: 100%;
}
.pubs .msgFinish {
    font-size: 22px;
    justify-content: center;
}
.pubs .msgFinish i {
    color: var(--success);
    position: relative;
    top: 3px;
}
.pubs .pubsTitle {
    border-bottom: 1px solid var(--dark2);
    padding-bottom: 8px;
}
.pub {
    background-color: var(--light);
    border-radius: 16px;
    padding: 16px;
    padding-bottom: 8px;
    gap: 8px;
}
.pub .profile {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.pub .profile > a {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
.pub .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    clip: rect(0px, 36px, 36px, 0px);
}
.pub .profile div {
    gap: 8px;
}
.pub .profile span {
    font-size: 14px;
}
.pub .content {
    flex-direction: column;
}
.pub .content img {
    width: 100%;
    border-radius: 8px;
    margin-top: 12px;
    cursor: pointer;
}
.pub .content .gallery {
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
    align-items: center;
}
.pub .content .gallery img {
    width: calc(50% - 6px);
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.pub .reactions {
    justify-content: space-between;
}
.pub .reactions div {
    gap: 8px;
}
.pub .reactions button {
    display: flex;
    gap: 6px;
    background: none;
    border: none;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
}
.pub .reactions button i {
    position: relative;
    top: 3px;
    font-size: 22px;
}
.liked {
    color: var(--alert);
}

.pubOptions {
    justify-content: flex-end;
}
.hide {
    display: none;
}

@media screen and (max-width: 900px) {
    .pub .content .gallery img {
        width: 100%;
        height: auto;
    }
}
